/* nav bar design */
*{
  margin: 0%;
  padding: 0%;
}

header{
  
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 15%;
  background-color: #e4b13a;
  height: 60px;
 
}


header img{
  width: 100px;
  height: 80px;
}

nav{
  display: flex;
  gap:2%;
  font-family: 'Golos Text', sans-serif;
}

.navbar{
  text-decoration: none;
  color:#fdfeff;
  font-weight: 800;
  gap: 10px;

}

nav :hover{
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

header a{
  text-decoration: none;
  color:#e4b13a;
  text-align: center;
}
header h3{
border: 2px solid rgb(253, 251, 248);
border-radius: 5px;
width: 110PX;
text-align: center;
background-color: rgb(245, 247, 249);
padding: 1px;
font-family: 'Golos Text', sans-serif;
padding: 4px;
}

.log{

display: flex;
justify-content: end;
text-align: center;
margin-left: 28%;
}
header img{
  width:170px;
  height: 100%;
}
nav {
  width: 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


/* 
*{
    margin: 0%;
    padding: 0%;
}

header{
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15%;
    background-color: #e4b13a;
    height: 60px;
   
}


header img{
    width: 100px;
    height: 80px;
}

nav{
    display: flex;
    gap: 30%;
    font-family: 'Golos Text', sans-serif;
}

.navbar{
    text-decoration: none;
    color:#fdfeff;
    font-weight: 800;

}

nav :hover{
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

header a{
    text-decoration: none;
    color:#e4b13a;
}
header h3{
  border: 2px solid rgb(253, 251, 248);
  border-radius: 5px;
  width: 110PX;
  text-align: center;
  background-color: rgb(245, 247, 249);
  padding: 1px;
  font-family: 'Golos Text', sans-serif;
  padding: 4px;
}

.log{

  display: flex;
  justify-content: end;
  text-align: center;
  margin-left: 47%;
}

/*start of the page
.start{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 10%;
 
}
 .start img{

  margin-top: 10%;
  width: 100px;
  margin: auto;
  
}

 h2{
  margin-top: 5%;

 margin-left: 23%;
color: #c7ad38;
width: 100%;
height: auto;
max-width: 800px;
overflow: visible;
font-weight: 800;
font-style: normal;
font-family: "Wix Madefor Display", sans-serif;
font-size: 80px;
letter-spacing: 0em;
line-height: 1.1;
text-align: center;

}

.butn p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  border: 2px solid rgb(185, 180, 180);
  color: #b7c0c7;
  width: 150px;
  text-align: center;
  background-color: #e9eff5;
  border-radius: 8px;
  height: 35px;
font-family: 'Golos Text', sans-serif;
margin-top: 2%;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.butn{
  display: flex;
  justify-content:center;
  gap: 2%;
  margin-top: 4%;
  

} */

/* cards design */

.cards{
    margin-top: 10%;
   margin-bottom: 10%;
   
}


.like-dislike-container {
  
    --dark-grey: #353535;
    --middle-grey: #767676;
    --lightest-grey: linear-gradient(#fafafa,#ebebeb);
    --shadow: 0 5px 15px 0 #00000026;
    --shadow-active: 0 5px 5px 0 #00000026;
    --border-radius-main: 10px;
    --border-radius-icon: 50px;
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    cursor: default;
    color: var(--dark-grey);
    opacity: .9;
    margin: auto;
    padding: 1.5rem;
    font-weight: 600;
    background: var(--lightest-grey);
    max-width: 30rem;
    border-radius: var(--border-radius-main);
    -webkit-border-radius: var(--border-radius-main);
    -moz-border-radius: var(--border-radius-main);
    -ms-border-radius: var(--border-radius-main);
    -o-border-radius: var(--border-radius-main);
    box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    transition: .2s ease all;
    -webkit-transition: .2s ease all;
    -moz-transition: .2s ease all;
    -ms-transition: .2s ease all;
    -o-transition: .2s ease all;
  }
  
  .like-dislike-container:hover {
    box-shadow: var(--shadow-active);
    -moz-box-shadow: var(--shadow-active);
    -webkit-box-shadow: var(--shadow-active);
  }
  
  .like-dislike-container .tool-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    top: 0;
    right: 0;
    border-radius: var(--border-radius-main);
    -webkit-border-radius: var(--border-radius-main);
    -moz-border-radius: var(--border-radius-main);
    -ms-border-radius: var(--border-radius-main);
    -o-border-radius: var(--border-radius-main);
  }
  
  .like-dislike-container .tool-box img{
    width: 30px;
  }
  .like-dislike-container .btn-close {
   border: 2px solid rgba(246, 199, 13, 0.393);
   width: 50px;
   height: 40px;
    cursor: pointer;
    
    background-color: #f0cd1b39;
    border-radius: 5px;
   

 
  }
  
  .like-dislike-container .text-content {
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 1.6;
    cursor: default;
    font-family: 'Golos Text', sans-serif;
    color: #e0bb1872;
    
  }
  
  .like-dislike-container .icons-box {
    display: flex;
    background-color: #c7ad38;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border-radius: 30px;
    height: 70px;
  }
  
  .like-dislike-container .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .6;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    
  
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    border-radius: var(--border-radius-icon);
    -webkit-border-radius: var(--border-radius-icon);
    -moz-border-radius: var(--border-radius-icon);
    transition: .2s ease all;
    -webkit-transition: .2s ease all;
    -moz-transition: .2s ease all;
    -ms-transition: .2s ease all;
    -o-transition: .2s ease all;
  
    
  }
  
  .like-dislike-container .icons:hover {
    opacity: .9;
    box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
  }
  
  .like-dislike-container .icons:active {
    opacity: .9;
    box-shadow: var(--shadow-active);
    -moz-box-shadow: var(--shadow-active);
    -webkit-box-shadow: var(--shadow-active);
  }
  
  .like-dislike-container .like-label {
    border-right: 0.1rem solid var(--dark-grey);
    padding: 0 0.6rem 0 0.5rem;
    pointer-events: none;
  }
  
  .like-dislike-container .dislike-label {
    border-left: 0.1rem solid var(--dark-grey);
    padding: 0 0.5rem 0 0.6rem;
    pointer-events: none;
  }
  
  .like-dislike-container .icons .svgs {
    width: 1.3rem;
    fill: #000000;
    box-sizing: content-box;
    padding: 10px 10px;
    transition: .2s ease all;
    -webkit-transition: .2s ease all;
    -moz-transition: .2s ease all;
    -ms-transition: .2s ease all;
    -o-transition: .2s ease all;
  }
  
  .like-dislike-container .icons:hover #icon-like {
    animation: rotate-icon-like 0.7s ease-in-out both;
  }
  
  .like-dislike-container .icons #icon-dislike {
    transform: rotate(180deg);
  }
  
  .like-dislike-container .icons:hover #icon-dislike {
    animation: rotate-icon-dislike 0.7s ease-in-out both;
  }
  
  /* Shake Animation */
  @keyframes rotate-icon-like {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes rotate-icon-dislike {
    0% {
      transform: rotate(180deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(183deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(177deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(181deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(180deg) translate3d(0, 0, 0);
    }
  }


  .card h3{
    color: #e0bb18;
    font-size: x-large;
    font-family: 'Golos Text', sans-serif;
  }
.icons-box img{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c8c898;
    opacity: 2.6;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    cursor: pointer;
    border: 2px solid rgb(255, 242, 8);
    border-radius: var(--border-radius-icon);
    -webkit-border-radius: var(--border-radius-icon);
    -moz-border-radius: var(--border-radius-icon);
    transition: .2s ease all;
    -webkit-transition: .2s ease all;
    -moz-transition: .2s ease all;
    -ms-transition: .2s ease all;
    -o-transition: .2s ease all;
}

.icons-box img :hover{
    opacity: 3.2;
    cursor: pointer;
    border: 2pxsolid gray;
    box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    
}

#like-button{
 border: none;

  background-color: #c7ad38;
    fill: #000000;
    transition: .2s ease all;
    -webkit-transition: .2s ease all;
    -moz-transition: .2s ease all;
    -ms-transition: .2s ease all;
    -o-transition: .2s ease all;
}

#dislike-button{
  border: none;

  background-color: #c7ad38;
    fill: #000000;
    transition: .2s ease all;
    -webkit-transition: .2s ease all;
    -moz-transition: .2s ease all;
    -ms-transition: .2s ease all;
    -o-transition: .2s ease all;
}


#m{
  width: 150px;
  
} 

#n{
  width: 150px;
  background-color: #090808;
  border-radius: 50%;
}


.all{
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10%;
  
}

.like-dislike-container{
  margin-bottom: 35%;
  margin-left: 10%;
  width: 100%;
}

/* comment section design */

.container{
  border:2px solid rgba(189, 188, 188, 0.734) ;
  border-radius: 28px 0px 28px 0px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 500px;
  height: 240px;
  align-items: center;
  background-color: #a096423f;
  padding: 1%;
  gap: 4%;
  flex-direction: column;
  margin-top: 5%;
}

#v{
  border: 2px solid rgb(245, 245, 50);
  display: flex;
  padding: 2px;
  font-family: 'Golos Text', sans-serif;;
  color: #5a5757;
  justify-content: center;
  align-items: center;
  background-color: #efde9292;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  height: 30px;
  
}

#newComment{
  border-radius: 5px;
  width: 200px;
  height: 45px;
  border: 1px solid rgb(192, 191, 191);
}

#addComments{
  width: 80px;
  height: 35px;
  border-radius: 10px;
  background-color: #7f7c7c95;
  color: #fcf6f6;
  border: 1px solid rgba(255, 238, 0, 0.92);
}

.reply{
  border: 2px solid rgba(230, 215, 76, 0.815);
  width: 50px;
  border-radius: 10px;
  color: #fff;
  background-color: #c7ad38;
  padding: 2px;
}

.deleteComment{
  border: 2px solid rgba(230, 215, 76, 0.815);
  width: 50px;
  border-radius: 10px;
  color: #fff;
  background-color: #c7ad38;
  padding: 2px;
}

.likeComment{
  border: 2px solid rgba(250, 250, 248, 0.815);
  width: 50px;
  border-radius: 10px;
  color: #fff;
  background-color: #c7ad38;
  padding: 2px;
}

.addReply{
  border: 2px solid rgba(250, 250, 248, 0.815);
  width: 50px;
  border-radius: 5px;
  color: #383737;
  background-color: #fbfaf5;
  padding: 2px;
  margin-left: 1%;
 
}

.cancelReply{
  border: 2px solid rgba(250, 250, 248, 0.815);
  width: 50px;
  border-radius: 5px;
  color: #383737;
  background-color: #fbfaf5;
  padding: 2px;
}

.wrapper{
  text-align: center;
  font-family: 'Golos Text', sans-serif;
  color: #2d2a2a;
}

.z{
  border-radius: 5px;
  width: 200px;
  height: 35px;
  border: 1px solid rgb(192, 191, 191);
  margin-left: 11%;
}